.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30383b;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
}

.logoDiv h1 {
    color: white;
    font-size: 20px;
}

.navDiv .navLink {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s;
}

.navDiv .navLink:hover {
    color: #ddd;
}

.btnDiv .navBtn {
    font-size: 16px;
}

.btnDiv .navBtn:hover {
    background-color: #0056b3;
}
